
/* Reset all margin/padding/spacing */
* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}


/* Dark Mode Styles */

.darkMode {
    border: #ffffff;    /* Set all borders to white */
    color: #ffffff;     /* Set all font color to white */
    background-color: #000000; /* Set the background color to black */
}


/* Header content styles */

#header-setting {
    width: 100%;        
    position: relative;
    display: block;
    padding: 1em;
}

#darkModeToggle {
    margin: 0 auto;
    border: 1px solid #000000;
    display: block;
    font-size: 1.5em;
    height: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

#darkModeToggle:active{
    color: #ffffff;
    margin-top: 2px;
    background: #000000;
}

/* Main content styles */

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3em;
}


#table-grades {
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    border: 2px solid #000000;                        /* Color set default to black */
    min-width: 300px;
}

#table-grades th {
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid;
    font-size: 1.2em;
}


#table-grades tr {
    text-align: center;
}

#table-grades tr td input[type="text"] {
    font: unset;
    text-align: center;
}

#table-grades tr td input[type="button"] {
    width: 50%;
    font-size: 2em;
}



#table-grades tr:hover{
    background-color: #cccccc;
}

#table-grades td {
    border: 1px solid;
}

/* Footer styles */